body{
	margin:0;
	padding:0;
	background:black;
}

#bandeau{
	width:100%;
	height:50px;
	background:navy;
}

a:link 
{ 
 text-decoration:none; 
} 

.menu{
	float:left;
	font-size:28px;
	color:white;
	padding:10px;
	margin-top:0px;
	font-family: 'Josefin Sans', sans-serif;
	text-align:center;
}

.menu:hover{
     background-color: blue;
	 cursor:pointer;
}

#accueil{
	border-radius:5px;
	border:4px solid blue;
	width:70%;
	margin-left:240px;
	margin-top:50px;
	height:250px;
	background-image:url('207828.jpg');
	font-family: 'Josefin Sans', sans-serif;
	font-size:20px;
	color:white;
}
#textaccueil{
	font-family: 'Josefin Sans', sans-serif;
	font-size:30px;
	color:white;
	margin-top:11px;
}

#bandeaumenu{
	margin-top:50px;
	margin-left:15%;
	width:70%;
	height:50px;
	border-radius:5px;
	border:4px solid blue;
	text-align:center;
}

a:link 
{ 
 text-decoration:none; 
} 